<!DOCTYPE html>
<html>
  <head>
    <title>DepuySynthes ホームページ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <%= link_to image_tag(src="JnJ_logo.png"), root_path, method: :get %>
      </div>
      <div class="user_nav grid-6">
        <%= link_to "TRAUMA", root_path, method: :get, class: "btn btn-secondary" %>
        <%= link_to "JOINT RECONSTRACTION", root_path, method: :get, class: "btn btn-secondary" %>
        <%= link_to "SPINE", root_path, method: :get, class: "btn btn-secondary" %>
        <%= link_to "MITECK SPORTS MEDICINE", root_path, method: :get, class: "btn btn-secondary" %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
